@import url("http://fonts.googleapis.com/css?family=Vollkorn:700");
body {
	margin: 0;
    padding: 0;
	background-color: #f7f7f7;
	color: #222222;
	font-family: Georgia, serif;
	font-size: 16px;
}

header {
	border-top: 3px solid #8F8F8F;
	color: white;
	background-color: #444444;
	height: 120px;
	width: 100%;
	margin-bottom: 30px;
	-moz-box-shadow:0px 5px 7px #c5c5c5;
	-webkit-box-shadow:0px 5px 7px #c5c5c5;
	box-shadow:0px 5px 7px #c5c5c5;
}

header h1 {
	margin-left: 23%;
	margin-top: 5px;
}

header #description {
	margin-left: 23%;
	margin-top: -10px;
}

header nav {
	margin-left: 23%;
	margin-top: 15px;
}

header a {
	text-decoration: underline;
	color: white;
}

article {
	margin-left: 23%;
	margin-right: 23%;
}

article h1 a {
	margin-top: 30px;
	font-family: 'Vollkorn', serif;
	font-size: 30px;
	text-decoration: none;
}

article h1 a:visited {
	text-decoration: none;
}

article h1 a:hover {
	color: #222222;
	text-decoration: underline;
}

article a {
	color: #444444;
	text-decoration: underline;
}

article a:hover {
	color: #af0000;
	text-decoration: underline;
}

footer {
	margin-left: 23%;
	margin-right: 23%;
	margin-top: 50px;
}

footer a {
	color: #444444;
	text-decoration: underline;
}

footer a:hover {
	color: #af0000;
	text-decoration: underline;
}
