/* This is the css of the default Yasbf theme and it is heavily inspired by tom.preston-werner.com */

body {
	background-color: #ffffff;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 22px;
	width: 40em;
	margin: 42px auto 6px auto;
}

nav a.home {
	color: #aa0000;
	text-decoration: none;
	font-weight: bold;
}

nav a.navigation {
	margin-left: 12px;
	color: #aaaaaa;
	text-decoration: none;
	text-transform: lowercase;
}

nav a.home:hover,
nav a.navigation:hover,
footer a:hover {
	color: #000000;
}

article {
	text-align: justify;
}

article h1 {
	margin-top: 50px;
}

article h1 a {
	color: #000000;
	font-size: 15px;
	text-decoration: none;
}

article h1 a:hover {
	color: #000000;
	text-decoration: underline;
	background: none;
}

article h3 {
	margin-top: -15px;
	margin-bottom: 18px;
	font-size: small;
	color: #aaaaaa;
	font-weight: normal;
}

article a {
	color: #000000;
	text-decoration: underline;
}

article a:hover {
	color: #737373;
}

article blockquote {
	border-left: 4px solid #eeeeee;
	padding-left: 10px;
}

article img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

article code {
	padding: 2px 2.5px 2px 2.5px;
	background-color: #F3F3F3;
	border-bottom: 1.5px solid #CCC;
	font-family: DroidSansMono;
}

article pre {
	padding: 5% 5% 5% 5%;
	background-color: #F3F3F3;
	border-bottom: 1.5px solid #CCC;
	font-family: DroidSansMono;
	overflow: auto;
}

footer {
	margin-top: 50px;
	font-size: 12px;
	border-top: 4px solid #eeeeee;
	padding-top: 6px;
	color: #666666;
}

footer a {
	color: #aa0000;
	text-decoration: none;
	font-weight: bold;
}

article #archives h1 {
	font-size: 15px;
	margin-top: 50px;
	margin-bottom: 1em;
}

article #archives ul {
	list-style-type: none;
}

article #archives span {
	font-size: small;
	line-height: 25px;
	color: #aaaaaa;
	font-family: Monaco, "Courier New", monospace;
}
